# Supervised Learning
## classifiers
This project compares the outcome of the following models for two data sets:
- Decision Tree
- Neural Network
- kNN

## data sets
The data sets are:
1. BankMarketingData
2. PhishingWebsitesData

In [1]:
#importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [28]:

# loading Bank Marketing Data
print(" Loading Bank Marketing Data... \n")
df_bank = pd.read_csv("BankMarketingData.csv")

print(f'{"number of samples":<22} | {"number of features":<22} | {"Any missing data":<22} \n{len(df_bank):<22} | {len(df_bank.columns):<22} | {Ture if df_bank.isnull().values.any() else False:<22}') 

print(" \n\nsample bank data:")
df_bank.head()

 Loading Bank Marketing Data...

number of samples      | number of features     | Any missing data
45307                  | 21                     | 0


sample bank data:

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [29]:

# loading and processing Phishing Websites Data
print(" Loading Phishing Websites Data")
df_phish = pd.read_csv("PhishingWebsitesData.csv")

print(f'{"number of samples":<22} | {"number of features":<22} | {"Any missing data":<22} \n{len(df_phish):<22} | {len(df_phish.columns):<22} | {Ture if df_phish.isnull().values.any() else False:<22}') 

print(" \n\nsample bank data:")
df_phish.head()

print(" Preprocessing the data ...")

 Loading Phishing Websites Data
number of samples      | number of features     | Any missing data
11055                  | 31                     | 0


sample bank data:

,having_IP_Address,URL_Length,Shortining_Service,having_At_Symbol,double_slash_redirecting,Prefix_Suffix,having_Sub_Domain,SSLfinal_State,Domain_registeration_length,Favicon,...,popUpWidnow,Iframe,age_of_domain,DNSRecord,web_traffic,Page_Rank,Google_Index,Links_pointing_to_page,Statistical_report,Result
0,-1,1,1,1,-1,-1,-1,-1,-1,1,...,1,1,-1,-1,-1,-1,1,1,-1,-1
1,1,1,1,1,1,-1,0,1,-1,1,...,1,1,-1,-1,0,-1,1,1,1,-1
2,1,0,1,1,1,-1,-1,-1,-1,1,...,1,1,1,-1,1,-1,1,0,-1,-1
3,1,0,1,1,1,-1,-1,-1,1,1,...,1,1,-1,-1,1,-1,1,-1,1,-1
4,1,0,-1,1,1,-1,1,1,-1,1,...,-1,1,-1,-1,0,-1,1,1,1,1

In [39]:
# loading and processing adult Data
# info about the data:

# income >50K, <=50K.
# age: continuous.
# workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
# fnlwgt: continuous.
# education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
# education-num: continuous.
# marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
# occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
# relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
# race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
# sex: Female, Male.
# capital-gain: continuous.
# capital-loss: continuous.
# hours-per-week: continuous.
# native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

print(" Loading adult Data")
df_adult = pd.read_csv("../data/adult/adult.data", header=None, na_values='?')

print(f'{"number of samples":<22} | {"number of features":<22} | {"Any missing data":<22} \n{len(df_adult):<22} | {len(df_adult.columns):<22} | {Ture if df_adult.isnull().values.any() else False:<22}') 

print(" \n\nsample adult data:")
df_adult.head()

print(" Cleansing/Preprocessing the data ...")
# defining the columns/feature names
df_adult.columns = [
'age',
'workclass',
'fnlwgt',
'education',
'education-num',
'marital-status',
'occupation',
'relationship',
'race',
'sex',
'capital-gain',
'capital-loss',
'hours-per-week',
'native-country',
'income']
print(df_adult.columns)
print(df_adult['native-country'])

 Loading adult Data
number of samples      | number of features     | Any missing data
32561                  | 15                     | 0


sample adult data:
 Preprocessing the data ...
Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')
0         United-States
1         United-States
2         United-States
3         United-States
4                  Cuba
              ...
32556     United-States
32557     United-States
32558     United-States
32559     United-States
32560     United-States
Name: native-country, Length: 32561, dtype: object