## FLU trend season  
We'll define our forecasting task to have an 8-week horizon with a 1-week lead time. In other words, we'll be forecasting eight weeks of flu cases starting with the following week.

In [8]:
# Setup feedback system

# Setup notebook
from pathlib import Path
import ipywidgets as widgets

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.multioutput import RegressorChain
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBRegressor

comp_dir = Path('data/')
 
store_sales = pd.read_csv(comp_dir / 'train.csv', usecols=['store_nbr', 'family', 'date', 'sales', 'onpromotion'],
    dtype={
        'store_nbr': 'category',
        'family': 'category',
        'sales': 'float32',
        'onpromotion': 'uint32',
    },
    parse_dates=['date'], infer_datetime_format=True,
)
store_sales['date'] = store_sales.date.dt.to_period('D')
store_sales = store_sales.set_index(['store_nbr', 'family', 'date']).sort_index()

print(" store_sales: \n",store_sales)

family_sales = (store_sales.groupby(['family', 'date']).mean().unstack('family').loc['2017'])

print(" family_sales: \n",family_sales)

test = pd.read_csv(comp_dir / 'test.csv', dtype={
        'store_nbr': 'category',
        'family': 'category',
        'onpromotion': 'uint32',
    },
    parse_dates=['date'], infer_datetime_format=True,)
test['date'] = test.date.dt.to_period('D')
test = test.set_index(['store_nbr', 'family', 'date']).sort_index()

print(" test: \n",test)

                sales                                              \
family     AUTOMOTIVE BABY CARE     BEAUTY    BEVERAGES     BOOKS
date
2017-01-01   0.092593  0.037037   0.055556    74.222221  0.000000
2017-01-02  11.481482  0.259259  11.648149  6208.055664  0.481481
2017-01-03   8.296296  0.296296   7.185185  4507.814941  0.814815
2017-01-04   6.833333  0.333333   6.888889  3911.833252  0.759259
2017-01-05   6.333333  0.351852   5.925926  3258.796387  0.407407
...               ...       ...        ...          ...       ...
2017-08-11   8.166667  0.129630   6.500000  3502.055664  0.000000
2017-08-12   7.462963  0.055556   6.833333  3376.259277  0.000000
2017-08-13   8.907408  0.166667   8.018518  3747.296387  0.018519
2017-08-14   5.407407  0.166667   6.240741  3237.629639  0.000000
2017-08-15   6.240741  0.148148   6.277778  3162.462891  0.000000

                                                                           \
family     BREAD/BAKERY CELEBRATION     CLEANING        DAIRY        DELI
date
2017-01-01     9.084685    0.129630     7.500000    11.518518    3.629167
2017-01-02   844.836304   14.203704  2233.648193  1545.000000  539.114807
2017-01-03   665.124084   10.629630  1711.907349  1204.203735  404.300079
2017-01-04   594.160583   11.185185  1508.036987  1107.796265  309.397675
2017-01-05   495.511597   12.444445  1241.833374   829.277771  260.776489
...                 ...         ...          ...          ...         ...
2017-08-11   522.305298   16.111111  1031.148193   831.648132  345.934967
2017-08-12   507.473114   15.722222  1072.870361   793.592590  290.553589
2017-08-13   615.976990   10.074074  1143.648193   928.000000  325.801361
2017-08-14   518.564026   11.000000  1019.111084   797.222229  271.532227
2017-08-15   539.966553   11.055555  1082.851807   753.833313  276.582458

            ... onpromotion                                        \
family      ...   MAGAZINES      MEATS PERSONAL CARE PET SUPPLIES
date        ...
2017-01-01  ...         0.0   0.018519      0.111111     0.018519
2017-01-02  ...         0.0   0.462963     10.592593     0.537037
2017-01-03  ...         0.0   0.481481      9.722222     0.444444
2017-01-04  ...         0.0   0.370370     12.037037     0.444444
2017-01-05  ...         0.0   8.981481      5.666667     0.000000
...         ...         ...        ...           ...          ...
2017-08-11  ...         0.0  22.925926      9.000000     0.000000
2017-08-12  ...         0.0   0.000000      8.703704     0.000000
2017-08-13  ...         0.0   0.000000      9.240741     0.000000
2017-08-14  ...         0.0   0.000000      8.722222     0.000000
2017-08-15  ...         0.0   0.000000      8.814815     0.000000

                                                                          \
family     PLAYERS AND ELECTRONICS    POULTRY PREPARED FOODS     PRODUCE
date
2017-01-01                0.000000   0.000000       0.037037    0.129630
2017-01-02                0.000000   0.259259       1.166667    5.629630
2017-01-03                0.000000   0.388889       1.351852   56.296296
2017-01-04                0.000000   0.296296       5.444444  101.277778
2017-01-05                0.000000   0.296296       0.907407    5.018519
...                            ...        ...            ...         ...
2017-08-11                0.000000  27.407407       0.537037    6.000000
2017-08-12                0.018519   0.111111       0.277778    6.000000
2017-08-13                0.000000   0.185185       0.222222    5.907407
2017-08-14                0.000000   0.129630       0.148148    6.018519
2017-08-15                0.092593   0.111111       0.166667   58.685185


family     SCHOOL AND OFFICE SUPPLIES   SEAFOOD
date
2017-01-01                   0.000000  0.000000
2017-01-02                   0.000000  0.407407
2017-01-03                   0.000000  0.407407
2017-01-04                   0.000000  0.333333
2017-01-05                   0.000000  0.444444
...                               ...       ...
2017-08-11                   2.666667  2.537037
2017-08-12                   2.759259  0.759259
2017-08-13                   2.777778  0.018519
2017-08-14                   2.851852  0.000000
2017-08-15                   2.740741  0.000000

[227 rows x 66 columns]

                                      id  onpromotion
store_nbr family     date
1         AUTOMOTIVE 2017-08-16  3000888            0
                     2017-08-17  3002670            0
                     2017-08-18  3004452            0
                     2017-08-19  3006234            0
                     2017-08-20  3008016            0
...                                  ...          ...
9         SEAFOOD    2017-08-27  3022271            0
                     2017-08-28  3024053            0
                     2017-08-29  3025835            0
                     2017-08-30  3027617            0
                     2017-08-31  3029399            0

[28512 rows x 2 columns]

Consider the following three forecasting tasks:

1. 3-step forecast using 4 lag features with a 2-step lead time
2. 1-step forecast using 3 lag features with a 1-step lead time
3. 3-step forecast using 4 lag features with a 1-step lead time

Run the next cell to see three datasets, each representing one of the tasks above.

In [3]:
def load_multistep_data():
    df1 = create_multistep_example(10, steps=1, lags=3, lead_time=1)
    df2 = create_multistep_example(10, steps=3, lags=4, lead_time=2)
    df3 = create_multistep_example(10, steps=3, lags=4, lead_time=1)
    return [df1, df2, df3]

def make_lags(ts, lags, lead_time=1, name='y'):
    return pd.concat(
        {
            f'{name}_lag_{i}': ts.shift(i)
            for i in range(lead_time, lags + lead_time)
        },
        axis=1)

def make_multistep_target(ts, steps, reverse=False):
    shifts = reversed(range(steps)) if reverse else range(steps)
    return pd.concat({f'y_step_{i + 1}': ts.shift(-i) for i in shifts}, axis=1)


def create_multistep_example(n, steps, lags, lead_time=1):
    ts = pd.Series(
        np.arange(n),
        index=pd.period_range(start='2010', freq='A', periods=n, name='Year'),
        dtype=pd.Int8Dtype,
    )
    X = make_lags(ts, lags, lead_time)
    y = make_multistep_target(ts, steps, reverse=True)
    data = pd.concat({'Targets': y, 'Features': X}, axis=1)
    data = data.style.set_properties(['Targets'], **{'background-color': 'LavenderBlush'}) \
                     .set_properties(['Features'], **{'background-color': 'Lavender'})
    return data

def plot_multistep(y, every=1, ax=None, palette_kwargs=None):
    palette_kwargs_ = dict(palette='husl', n_colors=16, desat=None)
    if palette_kwargs is not None:
        palette_kwargs_.update(palette_kwargs)
    palette = sns.color_palette(**palette_kwargs_)
    if ax is None:
        fig, ax = plt.subplots()
    ax.set_prop_cycle(plt.cycler('color', palette))
    for date, preds in y[::every].iterrows():
        preds.index = pd.period_range(start=date, periods=len(preds))
        preds.plot(ax=ax)
    return ax

In [10]:
datasets = load_multistep_data()

data_tabs = widgets.Tab([widgets.Output() for _ in enumerate(datasets)])
for i, df in enumerate(datasets):
    data_tabs.set_title(i, f'Dataset {i+1}')
    with data_tabs.children[i]:
        display(df)

display(data_tabs)

Tab(children=(Output(), Output(), Output()), _titles={'0': 'Dataset 1', '1': 'Dataset 2', '2': 'Dataset 3'})

## Match description to dataset

In [12]:
# YOUR CODE HERE: Match the task to the dataset. Answer 1, 2, or 3.
task_a=2# dataset 2
task_b=1# dataset 1
task_c=3# dataset 3​
# Check your answer
# q_1.check()

Look at the time indexes of the training and test sets. From this information, can you identify the forecasting task for Store Sales?

In [13]:
print("Training Data", "\n" + "-" * 13 + "\n", store_sales)
print("\n")
print("Test Data", "\n" + "-" * 9 + "\n", test)

Training Data
-------------
                                      sales  onpromotion
store_nbr family     date
1         AUTOMOTIVE 2013-01-01   0.000000            0
                     2013-01-02   2.000000            0
                     2013-01-03   3.000000            0
                     2013-01-04   3.000000            0
                     2013-01-05   5.000000            0
...                                    ...          ...
9         SEAFOOD    2017-08-11  23.830999            0
                     2017-08-12  16.859001            4
                     2017-08-13  20.000000            0
                     2017-08-14  17.000000            0
                     2017-08-15  16.000000            0

[3000888 rows x 2 columns]


Test Data
---------
                                       id  onpromotion
store_nbr family     date
1         AUTOMOTIVE 2017-08-16  3000888            0
                     2017-08-17  3002670            0
                     2017-08-18  3004452            0
                     2017-08-19  3006234            0
                     2017-08-20  3008016            0
...                                  ...          ...
9         SEAFOOD    2017-08-27  3022271            0
                     2017-08-28  3024053            0
                     2017-08-29  3025835            0
                     2017-08-30  3027617            0
                     2017-08-31  3029399            0

[28512 rows x 2 columns]